.cube-collection {
    -webkit-animation-duration: 10s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.screen-center {
    background: #000;
}

.cube-side {
    border-color: rgba(0, 0, 0, 0.1);
    color: #fafafa;
    background: rgba(200, 200, 200, 0.7);
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: translateZ( 200px ) rotateY( 0deg );
    }

    to {
        -webkit-transform: translateZ( 200px ) rotateY( 360deg );
    }
}